<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.arqui" version="0.0.1">
  <name>AppArqui</name>
  <description>
    Aplicacion que se encarga de un chat entre usuarios por medio de dispositivos moviles.
  </description>
  <author email="dev@callback.apache.org" href="http://cordova.io">
    Grupo Los Desalmados
  </author>
  <content src="index.html" />
  <access origin="*" />
  <icon src="App/images/icon.png" />
</widget>