<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.arqui" version="0.0.1">
  <name>AppArqui</name>
  <description>
    Aplicación que se encarga de un chat entre usuarios por medio de dispositivos móviles
  </description>
  <author email="dev@callback.apache.org" href="http://cordova.io">
    Apache Cordova Team
  </author>
  <content src="index.html" />
  <access origin="*" />
</widget>