<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.arqui" version="0.0.1">
	<name>AppArqui</name>
	<description>
		Aplicacion que se encarga de un chat entre usuarios por medio de dispositivos moviles.
	</description>
	
	<author email="dev@callback.apache.org" href="http://cordova.io">
		Grupo Los Desalmados
	</author>

	<content src="index.html" />
	<access origin="*" />

	<icon src="App/images/icono.PNG" />
    	<icon src="App/images/icono.png"   gap:platform="android"    gap:qualifier="ldpi" />
    	<icon src="App/images/icono.png"   gap:platform="android"    gap:qualifier="mdpi" />
    	<icon src="App/images/icono.png"   gap:platform="android"    gap:qualifier="hdpi" />
    	<icon src="App/images/icono.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    	<icon src="App/images/icono.png"     gap:platform="blackberry" />
    	<icon src="App/images/icono.png"     gap:platform="blackberry" gap:state="hover"/>
    	<icon src="App/images/icono.png"            gap:platform="ios"        width="57" height="57" />
    	<icon src="App/images/icono.png"            gap:platform="ios"        width="72" height="72" />
    	<icon src="App/images/icono.png"         gap:platform="ios"        width="114" height="114" />
    	<icon src="App/images/icono.png"         gap:platform="ios"        width="144" height="144" />
    	<icon src="App/images/icono.png"          gap:platform="webos" />
    	<icon src="App/images/icono.png"  gap:platform="winphone" />
    	<icon src="App/images/icono.png" gap:platform="winphone"   gap:role="background" />

</widget>